Repository rat-pac/ratpac-two, pull requests merged in 2025-04, with the labels that each got.

#252 Fully Deprecate WaveformAnalysis
  src/cmd/src/ProcBlockManager.cc
  src/daq/CMakeLists.txt
  src/daq/include/RAT/WaveformAnalysis.hh
  src/daq/src/WaveformAnalysis.cc
Labels: Waveform Processing, merge soon

#249 Change all PMT glass types
  ratdb/OPTICS.ratdb
  ratdb/PMT.ratdb
  ratdb/Validation/PMT.ratdb
Labels: Optics, merge soon, PMT

#237 Add fitdirectioncenter reconstruction processor
  doc/users_guide/processors.rst
  macros/examples/fitdirectioncenter.mac
  ratdb/FITTER.ratdb
  src/cmd/src/ProcBlockManager.cc
  src/fit/CMakeLists.txt
  src/fit/include/RAT/FitDirectionCenterProc.hh
  src/fit/src/FitDirectionCenterProc.cc
  src/io/src/OutNtupleProc.cc
Labels: Ready to merge, Reconstruction

#257 Waveform fitter FoMs in NtupleProc
  ratdb/IO.ratdb
  src/io/include/RAT/OutNtupleProc.hh
  src/io/src/OutNtupleProc.cc
Labels: Waveform Processing, merge soon

#204 Allow user-specified position generator in VertexFile_Gen
  src/gen/src/VertexFile_Gen.cc
Labels: Ready to merge, Generators, merge soon

#253 Small changes related to DAQ and waveform analysis
  src/daq/src/ForcedTriggerProc.cc
  src/daq/src/SplitEVDAQProc.cc
  src/ds/include/RAT/DS/DigitPMT.hh
  src/ds/include/RAT/DS/WaveformAnalysisResult.hh
  src/fit/include/RAT/FitterInputHandler.hh
  src/io/include/RAT/OutNtupleProc.hh
  src/io/src/OutNtupleProc.cc
Labels: Waveform Processing, merge soon

#254 Fix probability check in PMTOpticalModel
  src/physics/src/GLG4PMTOpticalModel.cc
Labels: merge soon, PMT

#259 Addresses several house-keeping issues prior to new tag
  CMakeLists.txt
  cformat.sh
  src/CMakeLists.txt
  src/core/src/Gsim.cc
  src/external/CMakeLists.txt
  src/external/cppflow/CMakeLists.txt
  src/external/cppflow/include/cppflow/context.h
  src/external/cppflow/include/cppflow/cppflow.h
  src/external/cppflow/include/cppflow/datatype.h
  src/external/cppflow/include/cppflow/defer.h
  src/external/cppflow/include/cppflow/model.h
  src/external/cppflow/include/cppflow/ops.h
  src/external/cppflow/include/cppflow/ops_generator/generator.py
  src/external/cppflow/include/cppflow/ops_generator/ops.pbtxt
  src/external/cppflow/include/cppflow/raw_ops.h
  src/external/cppflow/include/cppflow/tensor.h
  src/external/stlplus/CMakeLists.txt
  src/external/stlplus/include/stlplus/clonable.hpp
  src/external/stlplus/include/stlplus/debug.hpp
  src/external/stlplus/include/stlplus/dprintf.hpp
  src/external/stlplus/include/stlplus/exceptions.hpp
  src/external/stlplus/include/stlplus/file_system.hpp
  src/external/stlplus/include/stlplus/fileio.hpp
  src/external/stlplus/include/stlplus/format_types.hpp
  src/external/stlplus/include/stlplus/hash.hpp
  src/external/stlplus/include/stlplus/hash.tpp
  src/external/stlplus/include/stlplus/multiio.hpp
  src/external/stlplus/include/stlplus/os_fixes.hpp
  src/external/stlplus/include/stlplus/persistent.hpp
  src/external/stlplus/include/stlplus/persistent.tpp
  src/external/stlplus/include/stlplus/smart_ptr.hpp
  src/external/stlplus/include/stlplus/smart_ptr.tpp
  src/external/stlplus/include/stlplus/string_utilities.hpp
  src/external/stlplus/include/stlplus/string_utilities.tpp
  src/external/stlplus/include/stlplus/stringio.hpp
  src/external/stlplus/include/stlplus/textio.hpp
  src/external/stlplus/src/debug.cc
  src/external/stlplus/src/dprintf.cc
  src/external/stlplus/src/exceptions.cc
  src/external/stlplus/src/file_system.cc
  src/external/stlplus/src/fileio.cc
  src/external/stlplus/src/multiio.cc
  src/external/stlplus/src/os_fixes.cc
  src/external/stlplus/src/persistent.cc
  src/external/stlplus/src/string_utilities.cc
  src/external/stlplus/src/stringio.cc
  src/external/stlplus/src/textio.cc
  src/fit/src/FitQuadProc.cc
  src/geo/src/GeoFiberSensitiveDetector.cc
  src/geo/src/GeoNestedTubeArrayFactory.cc
  src/geo/src/GeoNestedTubeConstruction.cc
Labels: Structure, merge soon

#258 per-channel pulse shape calibration tables
  ratdb/CHANNEL_STATUS_DEFAULTS.ratdb
  ratdb/PMTPULSES.ratdb
  src/daq/src/PMTWaveformGenerator.cc
  src/ds/include/RAT/DS/ChannelStatus.hh
  src/io/include/RAT/OutNtupleProc.hh
  src/io/src/OutNtupleProc.cc
Labels: Calibration, merge soon, PMT
